tr.report-row:nth-child(even) {background: #777777}
tr.report-row:nth-child(odd) {background: #cccccc}
td {
  padding-left: 1em;
}
th {
  padding-left: 1em;
}

.report {
  background-color: aliceblue;
  padding-bottom: 0.8em;
}

.customer {
  padding-left: 1em;
}

.report-table {
  width: 100%;
}

.report-total {
  font-weight: bold;
  font-size: large;
  padding-left: 20em;
}

.customer-total {
  padding-left: 8em;
}

.month-table {
  padding-left: 2em;
}
.month-table-container {
  column-span: 2;
}

.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 40s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
